
:root {
    background-color: #EEEEEE;
}

body {
    max-width: 800px;
    margin-top: 25px;
    margin-left: 5px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 20px;
    border-left: black 1px solid;
    border-right: black 1px solid;
    border-bottom: gray 2px dotted;
}

body > aside a:before {
    content: " [[ ";
}
body > aside a:after {
    content: " ]] ";
}

h1 {
    text-align: center;
    padding: 5px;
    border-top: #339966 3px dotted;
    border-bottom: #339966 3px dotted;
}
h2:before {
    content:">> ";
    color: gray;
}
h2 {
    background-color: #CCFFCC;
    padding: 3px;
}
h3 {
    max-width: 400px;
    border-left: silver 3px solid;
    border-bottom: silver 3px solid;
    padding: 2px;
}

p {
    text-indent: 10px;
}

.timemem {
    text-align: right;
}

.source {
    text-align: right;
}

table td {
    padding: 3px;
}
table tr:nth-child(odd) td {
    background-color: #999999;
}

.img-tableau {
    border: silver 1px solid;
    padding: 10px;
    margin: 5px;
    text-align: center;
}