
:root {
    background-color: #EEEEEE;
}

body {
    background-color: #FFFFFF;
    max-width: 900px;
    margin-top: 5px;
    margin-left: 5px;
    padding: 10px;
    border-left: black 1px solid;
    border-right: black 1px solid;
    border-top: gray 2px dotted;
    border-bottom: gray 2px dotted;
}

body > aside a:before {
    content: "[[ ";
}
body > aside a:after {
    content: " ]]";
}

h1 {
    font-size: 2em;
    font-weight: bold;
    text-align: center;
    padding: 5px;
    border-top: #339966 3px dotted;
    border-bottom: #339966 3px dotted;
}
h2:before {
    content:">> ";
    color: gray;
}
h2 {
    font-size: 1.5em;
    font-weight: bold;
    background-color: #CCFFCC;
    padding: 3px;
}
h3 {
    max-width: 400px;
    border-left: silver 3px solid;
    border-bottom: silver 3px solid;
    padding: 2px;
}

p {
    text-indent: 10px;
}

.timemem {
    text-align: right;
}

.source {
    text-align: right;
}

table td {
    padding: 3px;
}
table tr:nth-child(odd) td {
    background-color: #EEEEEE;
}

.img-tableau {
    border: silver 1px solid;
    padding: 10px;
    margin: 5px;
    text-align: center;
}